
@{
    ViewBag.Title = "Trainer";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}
@using WEBProject.Models
@model List<GroupTraining>

<div>
    <form class="form-inline" action="/GroupTraining/FilterTrainings" method="post" id="filterForm">

        <div class="form-group">
            <label for="searchName">Name:</label>
            <input class="form-control" type="text" placeholder="Name" name="searchName" />
        </div>
        <div class="form-group">
            <label for="searchType">Type:</label>
            <input class="form-control" type="text" placeholder="Address" name="searchType" />
        </div>
        <div class="form-group">
            <label for="searchYearMin">Year (min):</label>
            <input class="form-control" type="number" placeholder="2010" name="searchYearMin" min="0" max="2022" />
        </div>
        <div class="form-group">
            <label for="searchYearMax">Year (max)</label>
            <input class="form-control" type="number" placeholder="2022" name="searchYearMax" min="0" max="2022" />
        </div>
        <div class="form-group">
            <input class="form-control" type="submit" id="searchButton" value="Search" />
        </div>
        <hr />
        <div class="form-group">
            <label for="sortOrder">Filter:</label>
            <select class="form-control" name="sortOrder" id="sortOrder" form="filterForm">
                <option value="name_asc">Name - ascending</option>
                <option value="name_desc">Name - descending</option>
                <option value="type_asc">Type - ascending</option>
                <option value="type_desc">Type - descending</option>
                <option value="year_asc">Year - ascending</option>
                <option value="year_desc">Year - desscending</option>
            </select>
        </div>
    </form>
</div>


<div>
    <p class="text-danger">@ViewBag.Error</p>
    <p class="text-info">Future trainings</p>
    <table class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Max visitors</th>
                <th scope="col">Empty places left:</th>
                <th scope="col">Training date</th>
                <th scope="col">Training length</th>
                <th scope="col">Training type</th>
                <th scope="col">Visitors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gt in Model)
            {
                if (gt.TrainingDate > DateTime.Now)
                {
            <tr>
                <td>@gt.Name</td>
                <td>@gt.MaxVisitors</td>
                <td>@(gt.MaxVisitors - gt.Visitors.Count)</td>
                <td>@gt.TrainingDate</td>
                <td>@gt.TrainingLength</td>
                <td>@gt.TrainingType</td>
                <td>
                    @foreach (var visitor in gt.Visitors)
                    {
                        <p>@visitor.Name @visitor.Lastname</p>
                    }
                </td>
                <td>
                    <form action="/GroupTraining/ModifyTraining" method="post">
                        <input type="hidden" name="groupTrainingId" id="groupTrainingId" value="@gt.Id" />
                        <input type="submit" value="Modify" />
                    </form>
                </td>
                <td>
                    <form action="/GroupTraining/RemoveGroupTraining" method="post">
                        <input type="hidden" class="btn btn-default" name="groupTrainingId" id="groupTrainingId" value="@gt.Id" />
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
    </br>
    <p class="text-info">Past trainings</p>
    <table class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Max visitors</th>
                <th scope="col">Empty places left:</th>
                <th scope="col">Training date</th>
                <th scope="col">Training length</th>
                <th scope="col">Training type</th>
                <th scope="col">Visitors</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gt in Model)
            {
                if (gt.TrainingDate < DateTime.Now)
                {
                    <tr>
                        <td>@gt.Name</td>
                        <td>@gt.MaxVisitors</td>
                        <td>@(gt.MaxVisitors - gt.Visitors.Count)</td>
                        <td>@gt.TrainingDate</td>
                        <td>@gt.TrainingLength</td>
                        <td>@gt.TrainingType</td>
                        <td>
                            @foreach(var visitor in gt.Visitors)
                            {
                                <p>@visitor.Name @visitor.Lastname</p>      
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


